--find-links https://download.pytorch.org/whl/cu113
torch
torchvision
torchaudio
omegaconf
pynvml
tqdm
matplotlib
pandas
einops
tifffile
opencv-python
scipy
gurobipy
tensorboard
scikit-image
gpustat
nibabel